Write a code to create a string with your name and print it

In [ ]:
name ="shreya"
print(name)

shreya

Write a code to find the length of the string "Hello World"

In [ ]:
s ="hello world"
len(s)

11

Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
text="pyhont programming"
sliced_text=text[:3]
print(sliced_text)

pyh

Write a code to convert the string "hello" to uppercase

In [ ]:
text ="hello"
new_text=text.upper()
print(new_text)

HELLO

Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
list =[1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
list=['a','b','c','d']
list[1]

'b'

Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list =[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple =('red','green','blue','yellow')
tuple[-2]
#print(tuple)

'blue'

Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple =(10, 20, 5, 15)
min(tuple)

5

Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
tuple = ('dog','cat','rabbit')
tuple.index('cat')

1

Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruit =('apple','orange','kiwi')
if "kiwi" in fruit:
  print("kiwi in it")
else:
  print("kiwi is not in it")

kiwi in it

Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set = {'a', 'b', 'c'}
print(set)

{'a', 'b', 'c'}

Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set = {1,2,3,4,5}
set.clear()
set

set()

Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set = {1,2,3,4}
set.remove(4)
set

{1, 2, 3}

Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
from typing import Union
set1 ={1,2,3}
set2 ={4,5,6}
union_set=set1 | set2
print(union_set)

{1, 2, 3, 4, 5, 6}

Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set= set1 & set2
print(intersection_set)

{2, 3}

Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {"name":"shreya","age":20,"city":"bihar"}
person

{'name': 'shreya', 'age': 20, 'city': 'bihar'}

Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person_info={"name":"jhon","age":25,}
person_info["country"] = 'USA'
person_info

{'name': 'jhon', 'age': 25, 'country': 'USA'}

Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dic = {'name':'alice','age':30}
dic['name']

'alice'

Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dic = {'name':'bob','age':22,'city':'new york'}
del dic['age']
dic

{'name': 'bob', 'city': 'new york'}

Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dic = {'name':'alice','city':'paris'}
if 'city' in dic:
  print("city exist in dictionary")
else:
  print("city is not exists in dictionary")

city exist in dictionary

 Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list = [1 ,2 ,3 ,4]
tuple = (1 , 2, 3 ,4)
dic = {"name":"alice","age":23}
print(list)
print(tuple)
print(dic)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'alice', 'age': 23}

Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random


random_numbers = [random.randint(1, 100) for _ in range(5)]


random_numbers.sort()


print(random_numbers)

[25, 34, 61, 80, 89]

Write a code to create a list with strings and print the element at the third index.

In [ ]:
fruit =["apple","orange","banana","plum","pear"]
print(fruit[3])

plum

Write a code to combine two dictionaries into one and print the result.

In [ ]:
dic1 = {"name":"shreya","age":32}
dic2 = {"country":"USA"}
result = {**dic1 ,**dic2}
print(result)

{'name': 'shreya', 'age': 32, 'country': 'USA'}

Write a code to convert a list of strings into a set.

In [ ]:
string_list = ["apple","banana","plum","apple","banana"]

string_set = set(string_list)

print("set of list",string_set)##i dont find the error

TypeError: 'set' object is not callable